/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    --color-primary-950: #172554;

    --color-primary: #0d46f2;
    --color-primary-hover: #0b3ecb;
    --color-background-light: #f9fafb;
    --color-background-dark: #111827;
    --color-card-light: #ffffff;
    --color-card-dark: #1f2937;
    --color-border-light: #e5e7eb;
    --color-border-dark: #374151;
    --color-text-main-light: #111827;
    --color-text-main-dark: #f9fafb;
    --color-text-muted-light: #6b7280;
    --color-text-muted-dark: #9ca3af;

    --font-family-body: "Inter", "ui-sans-serif", "system-ui", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-sans: "Inter", "ui-sans-serif", "system-ui", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}